<%if favorites.any?%>
	<table class="table table-hover">
		<tbody>
		  <%favorites.each do |favorite|%>
          <tr id="favorite<%=favorite.id%>">
            <td>
            	<%if favorite.favorable.pictures.any?%>
					<%=image_tag favorite.favorable.pictures.first.image.url(:tiny), 
					:height => 50, :width => 50 unless favorite.favorable.pictures.first.image.nil?%>
				<%end%>
            </td>
            <td><%=link_to favorite.favorable.title,
				 eval("#{favorite.favorable_type.downcase}_path(#{favorite.favorable_id})")%></td>
			<td>
				<%=link_to "取消收藏", user_favorite_path(favorite), method: :delete, remote: true%>
			</td>
          </tr>
		  <%end%>
        </tbody>
	</table>
<%else%>
	<div class="well well-small">你还没有收藏</div>
<%end%>