<div class="container">
  <div class="body-content">
    <div class="row">
      <div class="col-lg-9 non-padding-right">
		  <div class="panel panel-info">
			
		</div>
		
      </div>
  <!--end of col-lg-10-->
  	  <%=render "user/common/right_side_bar"%>
    </div>
    <hr>
    <%=render "user/common/footer"%>
  </div>
</div> <!-- /container -->
