<div id="timeline-container">
	<%objs.each do |obj|%>
	    <div class="activity <%= cycle("left", "right") -%>">
	        <div class="line-item yui3-g-r">
	            <div class="line-content">
	                <div class="yui3-u-1-4">
	                   <img src="http://ww2.sinaimg.cn/bmiddle/745a8c23gw1ee1vdlhkeej20f20f0dhh.jpg" alt="pussyluv" width="80">
					   <%#=image_tag eval("obj.#{obj.class.name.downcase}able").picture.image(:thumb), width: "80"%>
	                </div>
	                <div class="yui3-u-3-4">
	                   <a target="_blank" href="/recommend/0303-ruelala-gilt-myhabit-ebay-sale/">0303 Ruelala Gilt Myhabit Ebay促销简介</a>
					   <%#=link_to eval("obj.#{obj.class.name.downcase}able").title,
					   	eval("obj.#{obj.class.name.downcase}able_type")_path(eval("obj.#{obj.class.name.downcase}able"))%>
					   <%if obj.class.name.eql? Comment.name%>
					   	<p>
							<span style="color:#EB7171;">评论：</span>
							<%=obj.content.try(:html_safe)%>
						</p>
					   <%end%>
	                </div>    
	            </div>
	        </div>
	        <i></i> 
	    </div>
	<%end%>
</div>