<div class="yui3-u-1-4 user-sidebar">
    <ul>
        <li>
            <a class="current" href="/user/profile">账户设置</a>
            <ol>
			<li>
			    <a class="current" href="/user/profile">修改资料</a>
			</li>
            </ol>
        </li>
    </ul>
</div>