<div class="container-fluid">
  <div class="body-content">
    <div class="row-fluid">
		<div class="span3">
			<%=render "user/common/left_side_bar"%>
		</div>
      <div class="span9 non-padding-right">
		  <div class="panel panel-info">
			<div class="well well-small">我的爆料</div>
			<%=render "user/deals/form", deals: @deals%>
			<%= paginate @deals %>
		</div>
		
      </div>
    </div>
    <hr>
    <%=render "user/common/footer"%>
  </div>
</div>
