<div id="footer" class="footer">
    <div style="display: none;" class="back-to-top">
        <a href="#" title="回到顶部"><i class="toparrow"></i></a>
    </div>
    <div class="yui3-g-r">
        <div class="yui3-u-3-4">
            <div class="foot-detail">
                <h3 class="footer-title">买个便宜货 mgpyh</h3>
                <p>『 有态度的购物推荐网站 』</p>
                <ul>
                    <!-- <li><a href="/about">关于买个便宜货</a></li> -->
                    <li><a href="http://www.mgpyh.com/about/contactus">联系我们</a></li>
                    <li><a href="http://www.mgpyh.com/about/policy">免责声明</a></li>
                    <li><a href="http://www.mgpyh.com/about/Qa">关税须知</a></li>
                  </ul>

                <p>© 2010－2014 mgpyh.com,all rights reserved 南京爱多明信息技术有限公司 版权所有 苏ICP备13030403号</p>

                <p>Rendered in 0.06918s</p>
            </div>
        </div>
		
        <div class="yui3-u-1-4">
            <div class="footer-banner">
                <h3 class="footer-title text-center">在这里关注我们</h3>                  
                <div class="text-center">
                    <iframe src="mgpyh/followbutton.html" border="0" marginheight="0" 
						marginwidth="0" allowtransparency="true" style="padding-top:1px;" 
						frameborder="0" height="24" scrolling="no" width="120"></iframe>
                    <p class="rss"><a href="http://www.mgpyh.com/feed/"><img src="mgpyh/rss.png"></a></p>
                    <p>
                        <img src="mgpyh/weixin.png" alt="">
                    </p>
                </div> 
            </div>
        </div>    
    </div>
</div>