<div id="footer" class="footer">
    <div style="display: none;" class="back-to-top">
        <a href="#" title="回到顶部"><i class="toparrow"></i></a>
    </div>
    <div class="yui3-g-r">
        <div class="yui3-u-3-4">
            <div class="foot-detail">
                <h3 class="footer-title">买手党 MSD</h3>
                <p>『 买手聚集的地方 』</p>
                <ul>
                    <!-- <li><a href="/about">关于买个便宜货</a></li> -->
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">免责声明</a></li>
                    <li><a href="#">关税须知</a></li>
                  </ul>

                <p>© 2010－2014 maishoudang.com,all rights reserved </p>
            </div>
        </div>
		
        <div class="yui3-u-1-4">
            <div class="footer-banner">
                <h3 class="footer-title text-center">在这里关注我们</h3>                  
                <div class="text-center">
                    <!-- <iframe src="mgpyh/followbutton.html" border="0" marginheight="0" 
						marginwidth="0" allowtransparency="true" style="padding-top:1px;" 
						frameborder="0" height="24" scrolling="no" width="120"></iframe>
                    <p class="rss"><a href="http://www.mgpyh.com/feed/"><img src="mgpyh/rss.png"></a></p> -->
                    <p>
						<%=holder_tag 150, "picture", "sky"%>
                    </p>
					
                </div> 
            </div>
        </div>    
    </div>
</div>