<div class="yui3-u sidebar-w pull-right">
<div class="yui3-u-1 margin38">
	<div class="sidebar best-choice">
	        <h1><i class="good"></i>精选</h1>
			<%Deal.active.first(5).each do |deal|%>
	        <ul>
	            <li>
					<%=link_to image_tag(deal.picture.image.url(:tiny),width:48)+"<p>#{deal.name}</p>".html_safe, deal_path(deal) %>
	        	</li>
	        </ul>
			<%end%>
	    </div>

    </div> 
</div>