<div class="yui3-u sidebar-w pull-left">
<div class="yui3-u-1 margin38">
	<div class="sidebar">
	    <a target="_blank" title="#买个便宜货晒ID活动#" href="http://www.mgpyh.com/show_id"><img src="mgpyh/show_your_id.png"></a>
	</div>
	<div class="sidebar">
	    <a target="_blank" title="买个便宜货#双十二#" href="http://www.mgpyh.com/recommend/mgpyh-b2c-registration/"><img src="mgpyh/sheep.png"></a>
	</div>

	<div class="sidebar">
	    <h1><i class="marketing"></i>集市</h1>
	    <ul>

	        <li><a target="_blank" href="http://www.mgpyh.com/recommend/amazon-coupon-bazaar/">Amazon Coupon页面汇总</a></li>

	        <li><a target="_blank" href="http://www.mgpyh.com/recommend/ashford-free-shipping-to-china-slider/">Ashford免费直邮中国</a></li>

	        <li><a target="_blank" href="http://www.mgpyh.com/recommend/for-the-convenience-of-service--jingdong-drinks-water-single-zone-/">便民服务：京东水饮料凑单专区</a></li>
	    </ul>
	</div>
	<div class="sidebar">
	    <h1><i class="focus"></i>关注我们</h1>
		<div class="yui3-g">
			<div class="yui3-u-1-3">
				<a class="singleLink" href="http://e.weibo.com/mgpyh" target="_blank">
	            	<div class="sIcon sSina"></div>
	                <div class="shadow"></div>
	                <span class="sName">新浪微博</span>
	            </a>
			</div>
			<div class="yui3-u-1-3">
				<a class="singleLink" href="http://www.mgpyh.com/recommend/mgpyh-push-robot-address-is-mgpyhrobotappspot-com/" target="_blank">
	            	<div class="sIcon sRss"></div>
	                <div class="shadow"></div>
	                <span class="sName">Gtalk</span>
	            </a>
			</div>
			<div class="yui3-u-1-3">
				<a class="singleLink" href="http://www.mgpyh.com/feed/" target="_blank">
	            	<div class="sIcon sGtalk"></div>
	                <div class="shadow"></div>
	                <span class="sName">RSS阅读</span>
	            </a>
			</div>
		</div>
	</div>
    </div> 
</div>