<!--begin of content-l-->
<div class="content-l">
	<ul class="item-list mixed">
		<li class="template">
			<div class="container-fluid">	
				<div class="row-fluid">
					<div class="well">
						<div class="row-fluid">
					<div class="item-info ">
						<h3>
							<a href="http://themeforest.net/item/uhuru-responsive-multipurpose-concrete5-theme/4910366">
								标题
							</a>
						</h3>
					</div> 
					</div>
					<div class="row-fluid">
						<div class="span6">
							分类
						</div>
						<div class="span6">
							时间
						</div>
					</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span10">		 
						部分详细描述					
					</div>
					<div class="span2">						
						<div class="thumbnail">
							<a
								href="/item/uhuru-responsive-multipurpose-concrete5-theme/4910366"><img
								alt="Uhuru - Responsive Multi-Purpose Concrete5 Theme - ThemeForest Item for Sale"
								border="0" class="landscape-image-magnifier preload no_preview"
								data-item-author="DesignManiaPL"
								data-item-category="CMS Themes / Concrete5" data-item-cost="40"
								data-item-name="Uhuru - Responsive Multi-Purpose Concrete5 Theme"
								data-preview-height=""
								data-preview-url="http://3.s3.envato.com/files/59783104/themepreview.__large_preview.png"
								data-preview-width="" height="80"
								src="http://1.s3.envato.com/files/59783103/thumbnail.jpg"
								title="Uhuru - Responsive Multi-Purpose Concrete5 Theme"
								width="80" /></a>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<ul class="nav nav-pills pull-right">
					    <li><a href="#">展开<i class="icon-chevron-down"></i></a></li>
					</ul>
				</div>
			</div>	
		</li>
		<li class="template">
			<div class="container-fluid">	
				<div class="row-fluid">
					<div class="well">
						<div class="row-fluid">
					<div class="item-info ">
						<h3>
							<a href="http://themeforest.net/item/uhuru-responsive-multipurpose-concrete5-theme/4910366">
								我和我的小伙伴们都惊呆了我和我的我和我的小伙伴们都惊呆了我和我的我和我的小伙伴们都惊呆了我和我的我和我的小伙伴们都惊呆了我和我的我和我的小伙伴们都惊呆了我和我的
							</a>
						</h3>
					</div> 
					</div>
					<div class="row-fluid">
						<div class="span6">
					分类： 促销活动, 日常穿着, 海淘特价	
						</div>
						<div class="span6">
					07-26 13:43
						</div>
					</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span10">		 外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...		外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...	外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...	外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...	外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...					
					</div>
					<div class="span2">						
						<div class="thumbnail">
							<a
								href="/item/uhuru-responsive-multipurpose-concrete5-theme/4910366"><img
								alt="Uhuru - Responsive Multi-Purpose Concrete5 Theme - ThemeForest Item for Sale"
								border="0" class="landscape-image-magnifier preload no_preview"
								data-item-author="DesignManiaPL"
								data-item-category="CMS Themes / Concrete5" data-item-cost="40"
								data-item-name="Uhuru - Responsive Multi-Purpose Concrete5 Theme"
								data-preview-height=""
								data-preview-url="http://3.s3.envato.com/files/59783104/themepreview.__large_preview.png"
								data-preview-width="" height="80"
								src="http://1.s3.envato.com/files/59783103/thumbnail.jpg"
								title="Uhuru - Responsive Multi-Purpose Concrete5 Theme"
								width="80" /></a>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<ul class="nav nav-pills pull-right">
					          <li><a href="#">展开<i class="icon-chevron-down"></i></a></li>
					  </ul>
				</div>
			</div>	
		</li>
		<li class="template">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="well">
						<div class="row-fluid">
					<div class="item-info ">
						<h3>
							<a href="http://themeforest.net/item/uhuru-responsive-multipurpose-concrete5-theme/4910366">
								我和我的小伙伴们都惊呆了我和我的我和我的小伙伴们都惊呆了我和我的我和我的小伙伴们都惊呆了我和我的我和我的小伙伴们
							</a>
						</h3>
					</div> 
					</div>
					<div class="row-fluid">
						<div class="span8">
					分类： 促销活动, 日常穿着, 海淘特价	
						</div>
						<div class="span4">
					07-26 13:43
						</div>
					</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span10">		 外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...		外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...	外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...	外资证券】：代表性公司：高盛、中金、摩根士丹利等单位第一年收入：50-80万左右（中金第一年基本工资25万，奖金35万，福利10万）五年后收入：300万左右工作时间量：每天18个小时，每周12...	外资证券】				
					</div>
					<div class="span2">						
						<div class="thumbnail">
							<a
								href="/item/uhuru-responsive-multipurpose-concrete5-theme/4910366"><img
								alt="Uhuru - Responsive Multi-Purpose Concrete5 Theme - ThemeForest Item for Sale"
								border="0" class="landscape-image-magnifier preload no_preview"
								data-item-author="DesignManiaPL"
								data-item-category="CMS Themes / Concrete5" data-item-cost="40"
								data-item-name="Uhuru - Responsive Multi-Purpose Concrete5 Theme"
								data-preview-height=""
								data-preview-url="http://3.s3.envato.com/files/59783104/themepreview.__large_preview.png"
								data-preview-width="" height="80"
								src="http://1.s3.envato.com/files/59783103/thumbnail.jpg"
								title="Uhuru - Responsive Multi-Purpose Concrete5 Theme"
								width="80" /></a>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<ul class="nav nav-pills pull-right">
					          <li><a href="#">展开<i class="icon-chevron-down"></i></a></li>
					  </ul>
				</div>
			</div>	
		</li>

	</ul>
	
	<div class="pagination">
		<span class="previous_page disabled">Prev</span> 
		<em class="current">1</em>
		<a rel="next" href="/collections/2712342-bootstrap-templates?page=2">2</a>
		<a href="/collections/2712342-bootstrap-templates?page=3">3</a> 
		<a href="/collections/2712342-bootstrap-templates?page=4">4</a> 
		<a href="/collections/2712342-bootstrap-templates?page=5">5</a> 
		<a class="next_page" rel="next"
			href="/collections/2712342-bootstrap-templates?page=2">Next</a>
	</div>
</div>
<!-- end of content-l-->
