<div class="fields form-group">
	<div class="row-fluid">
		<div class="span11">
			<%=f.text_field :url, placeholder: t("deal.link"), class: "input-block-level" %>
		</div>
		<div>
			<%= link_to_remove_fields "Remove", f  %>	
		</div>
	</div>
</div>