<div class="fields control-group">
	<div class="controls">
		<div class="row-fluid">
			<div class="span11">
				<%=f.text_field :url, placeholder: t("deal.link"), class: "input-block-level url" %>
			</div>
			<div class="span1">
				<%= link_to_remove_fields "Remove", f  %>	
			</div>
		</div>
	</div>
	
</div>