<div class="fields form-group">
	<div class="row">
		<div class="col-lg-11">
		<%=f.file_field :image, placeholder: t("deal.link"), class: "form-control" %>
		</div>
		<div>
			<%= link_to_remove_fields "Remove", f  %>	
		</div>
	</div>
</div>