<div class="main">
    <!-- product_test start -->
	<div class="yui3-g-r margin30 xmas-hidden">
	    <!-- slide start -->
	    <!-- <div class="yui3-u-3-4" id="slidebox">
	        <a href="#" class="unslider-arrow prev">Previous slide</a>
	        <a href="#" class="unslider-arrow next">Next slide</a>
	        <div id="slideshow">
	           <div style="width: 100%; height: 200px; overflow: hidden;" class="banner has-dots">
	                <ul style="position: relative; left: -400%; width: 500%; height: 300px;">
                    
	                    <li style="float: left; width: 20%;" data-original-title="REI自营全品+MERRELL原价7折基础上，额外下单75折，综合折扣5.25折">
	                        <a href="http://www.mgpyh.com/recommend/2-days-2-brands-on-rei-merrell-slider/">
	                            <img src="mgpyh/16a9fc712cd35c88dc2fe49c83c6f327.jpg" title="REI自营全品+MERRELL原价7折基础上，额外下单75折，综合折扣5.25折">
	                        </a>
	                    </li>
	                    <li style="float: left; width: 20%;" data-original-title="京东商城数码产品￥400-100新 神券">
	                        <a href="http://www.mgpyh.com/recommend/jingdong-mall-digital-product-rmb-400-100-new-gods-slider/">
	                            <img src="mgpyh/66c39af6482d17a4a6ebe9f5e6eebde1.jpg" title="京东商城数码产品￥400-100新 神券">
	                        </a>
	                    </li>
                    
	                    <li style="float: left; width: 20%;" data-original-title="16品类联合满减，轻松凑单，最高满499立减180">
	                        <a href="http://www.mgpyh.com/recommend/book-full-100-rmb-or-return-3-250-50-rmb-full-general-z-vouchers-slider/">
	                            <img src="mgpyh/2e285172194bfe4a2a08aef0a1166f78.jpg" title="16品类联合满减，轻松凑单，最高满499立减180">
	                        </a>
	                    </li>
                    
	                    <li style="float: left; width: 20%;" data-original-title="苏宁易购 相机月末活动   每1000降100 ，可购RX100等">
	                        <a href="http://www.mgpyh.com/recommend/ningyi-purchase-camera-at-the-end-of-activities-for-every-1000/">
	                            <img src="mgpyh/068b3fde43c6893c751809b62ddb3b47.jpg" title="苏宁易购 相机月末活动   每1000降100 ，可购RX100等">
	                        </a>
	                    </li>
                    
	                    <li style="float: left; width: 20%;" data-original-title="拜亚动力最值得购入的前旗舰DT770 DT880 DT990 选购分析">
	                        <a href="http://www.mgpyh.com/recommend/dt770-dt880-dt990-slider/">
	                            <img src="mgpyh/35f56df56733b2019c6df870bf3fa70f.jpg" title="拜亚动力最值得购入的前旗舰DT770 DT880 DT990 选购分析">
	                        </a>
	                    </li>
	                </ul>
	            <ol class="dots"><li class="dot">1</li><li class="dot">2</li><li class="dot">3</li><li class="dot">4</li><li class="dot active">5</li></ol></div> 
	        </div>
	    </div> -->
	    <!-- slide stop -->

	    <div class="yui3-u-1-4">
	        <div class="special-ad">
	            <div class="artical">
	                <h1>
	                    <span>我们的动态</span>
	                </h1>
	                <ul>
                  
	                    <li>
	                        <a target="_blank" href="http://www.mgpyh.com/team/mgpyh-2014-new-year-offer-team/">
	                            特别活动：我都买了啥？
                            
	                                <i class="hotdot"></i>
                            
	                        </a>
	                    </li>
                  
	                    <li>
	                        <a target="_blank" href="http://www.mgpyh.com/team/welcome-to-mgpyh-lets-do-sth-to-the-world/">
	                            mgpyh招聘，新增UI设计狮
                            
	                        </a>
	                    </li>
                  
	                    <li>
	                        <a target="_blank" href="http://www.mgpyh.com/team/comments-please-binding-socialization-for-the-first-time/">
	                            1-1更新汇报：“偷懒”爆料功能上线
                            
	                        </a>
	                    </li>
                  
	                    <li>
	                        <a target="_blank" href="http://www.mgpyh.com/team/wo-men-de-dongtai/">
	                            新站建议BUG集中反馈贴
                            
	                        </a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- product_test stop -->
	<hr>
    <!-- "product_test.html" -->
	<div class="yui3-g-r">
		<div class="yui3-u-1 fixed-sidebar">
			<div class="recommond yui3-u pull-left left-margin">                    
				<div class="items recommond">
					<%=render "deals/items"%>
				</div>
			    <div class="text-center margin30">
			        <div id="stance"><%=image_tag "loading.gif"%></div>
			        <%=paginate @deals, :theme => 'my_theme', :window => 3%>
			    </div>
			   	<a style="display:none" href="#" data-next="2" data-type="newest" class="loadmore btn yui3-u-2-3">载入更多推荐</a>
			</div>
			<%=render "layouts/commons/right_side"%>
		</div>
	</div>
</div>
