<div class="content-l">
	<ul class="item-list mixed">
		<li class="template">
			<p><%=@deal.title%></p>
			<p><%=@deal.body%></p>
			<%@deal.pictures.each do |pic|%>
				<%=image_tag pic.image.url(:large)%>
			<%end%>
		</li>
	</ul>
</div>