<div class="main">
    <!-- "product_test.html" -->
	<div class="yui3-g-r">
		<div class="yui3-u-1 fixed-sidebar">
			<div class="recommond yui3-u pull-left left-margin">
				<% if flash[:notice] %>
				    <p class="alert"><%= flash[:notice] %></p>
				<% end %>                    
				<div class="items recommond">
					<%=render "items"%>
				</div>
			</div>
			<%=render "layouts/commons/right_side"%>
		</div>
	</div>
</div>
