<div class="gray-background image-loaded">
	<div class="clear"></div>
	<div class="discovery-container" id="discovery-container">
		<%=render "items"%>
	</div>
    <div>
        <div id="stance" class="kaminari-resources"><%=image_tag "loading.gif"%></div>
        <%=paginate @discoveries, :theme => 'my_theme', :window => 3%>
    </div>
</div>