<div class="main">
                
                
                 <!-- "product_test.html" -->
                <div class="yui3-g-r">
                    <div class="yui3-u-1 fixed-sidebar">
                        
<div class="hot margin30 yui3-u pull-left left-margin">
    <h1 class="head">
        
            分类目录：<span style="color:#DC3D45">手机数码</span>
        
    </h1>
    <div class="items">
        
        
            
                
                    <div class="item yui3-g-r odd">
                        <div class="time yui3-u-1-12">
                            <span>8小时前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/buy-apple-tv-and-get-a--25-itunes-gift-card/">在美童鞋考虑，Apple TV+$25 GiftCard= $99</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>Apple发布于12年3月份的新一代APPLE TV，代号MD199，采用单核心A5处理器，内建512MB内存；通过<span style="color:#ff0000"><strong>修改DNS</strong></span>的方法，这货可以播放优酷、搜狐、人人影视、迅雷等视频，也可以通过AiPlay直接播放你的电脑或者平板内容。</p><p>有多位童鞋爆料了这款产品，我们已经在<a target="_blank" href="http://www.mgpyh.com/bing/"><strong>BING页面</strong></a>说明，首先这货<a target="_blank" href="http://www.mgpyh.com/recommend/apple-tv-3rd-gen-1080p-hdmi-streamer/"><strong>最低售价</strong></a>是mgpyh推荐的$79，其次有多家知名转运处于某些原因点名不接本产品，请务必注意。</p><p>Apple官网今日售价$99，<a target="_blank" href="/goods/84vjt"><strong>链接在此</strong></a>，赠送价值$25的礼品卡，最终约合$74到手，算是历史新低了，如前文所说，除了转运的问题外，内容方面，不如天猫盒子等门槛低，也是问题。</p><p>PS：各家做盒子的，你们就不能把遥控器手感做好一点么，真的要塑料感那么强烈，按起来嘎吱嘎吱响么？</p><p><br></p><p><img src="http://ww1.sinaimg.cn/bmiddle/745a8c23gw1ebq4t4lhu7j20fw0but92.jpg" _src="http://ww1.sinaimg.cn/bmiddle/745a8c23gw1ebq4t4lhu7j20fw0but92.jpg"></p><p><br></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/buy-apple-tv-and-get-a--25-itunes-gift-card/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right" style="visibility: hidden;"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww1.sinaimg.cn/bmiddle/745a8c23gw1dwuzzzol7dj.jpg" alt="在美童鞋考虑，Apple TV+$25 GiftCard= $99">
                            <a class="btn btn-danger" target="_blank" href="/goods/genh3">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r even">
                        <div class="time yui3-u-1-12">
                            <span>9小时前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/monster-diesel-vektr-on-ear-headphones/">Monster Black Diesel VEKTR 魔声迪赛合作款耳机$64.95</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>Diesel Vektr迪赛头戴式耳机由意大利时尚设计师Diesel与魔声共同开发，佩戴舒适，棱角外观及三角形特制线材，在每个豪华耳机外罩上有着独特的钻石切割 “迪赛”标记。</p><p>两个耳机外罩上都有丝印的莫西干人头像，与黑色、灰色和拉丝的铝材反射的高光形成鲜明反差，还有不同的涂饰（闪亮、粗糙和胶状的涂料），耳机线材都有特殊的三角区以防止打结。可折叠式设计，便于存放在随机提供的便携盒中。&nbsp;</p><p><span style="color:#505255">今日Amazon售价$64.95，</span><span style="color: rgb(80, 82, 85); font-weight: 700;color:#338acf"><a href="http://www.amazon.com/Monster-Diesel-On-Ear-Headphones-ControlTalk/dp/B006VJOOHE?t=mgpyhxigua-20&amp;tag=mgpyhxigua-20&amp;m=ATVPDKIKX0DER" target="_blank">链接在此</a></span><span style="color:#505255">，</span><strong><span style="color:#ff0000">需要3~5周发货</span></strong><span style="color:#505255">，<strong><a href="/goods/wssce" target="_blank">Ebay</a></strong>今日同样的售价，不过是Monster现货贩售，不过</span><span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; color: rgb(80, 82, 85);">Amazon威武，可以使用</span><a href="http://www.mgpyh.com/recommend/amazon--agoda-website-use-the-unionpay-card-order-discount_1/" target="_blank">银联9折</a>产品位New全新，发货重量2lb，这次是你们大爱的黑色。<span style="color: rgb(80, 82, 85);">不过</span><span style="color: rgb(80, 82, 85);">Amazon威武，可以使用</span><strong style="color: rgb(80, 82, 85);"><a href="http://www.mgpyh.com/recommend/amazon--agoda-website-use-the-unionpay-card-order-discount_1/" target="_blank">银联9折</a></strong><span style="color: rgb(80, 82, 85);">，产品位New全新，发货重量2lb，这次是你们大爱的黑色。</span></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;"><span style="word-spacing: normal;"><img src="http://ww1.sinaimg.cn/mw1024/745a8c23jw1e9hc1i5io4j20zk0k0gqk.jpg" _src="http://ww1.sinaimg.cn/mw1024/745a8c23jw1e9hc1i5io4j20zk0k0gqk.jpg" style="max-width: 100%; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; word-spacing: normal;"></span></p><p><br></p><p><br></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/monster-diesel-vektr-on-ear-headphones/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right" style="visibility: hidden;"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1eb31vojacij20fe0fgta3.jpg" alt="Monster Black Diesel VEKTR 魔声迪赛合作款耳机$64.95">
                            <a class="btn btn-danger" target="_blank" href="/goods/pvnts">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r odd">
                        <div class="time yui3-u-1-12">
                            <span>12小时前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/klipsch-image-one-bluetooth-on-ear-headphones-and-more/">Klipsch Image ONE无线版耳机$99.99</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;">这款Image One耳机，耳壳部分是一种粗犷而刻意突出的皮质纹理，展现美式的工业设计风格，内部记忆金属条强韧，耐久度高，发音单元可以90度旋转，便于携带。32欧的阻抗普通便携设备也能轻易推动。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;">听感方面，网友反馈中规中矩的解析与偏暗的高频不适合听人声，摇滚音乐的话比较合适，整体调教还是美系的街头风格。Woot今日售价$99.99，<a target="_blank" href="http://www.jdoqocy.com/click-5500973-11123564?url=http://tech.woot.com/offers/klipsch-image-one-bluetooth-headphones-5" style="color: rgb(51, 138, 207);"><span style="font-weight: 700;">链接在此</span></a>，发货重量2lb，海外购成本约为￥699元。</p><p>此外，<strong><a href="http://moofi.woot.com/offers/gunnar-optiks-steelseries-des-onyx-orang" target="_blank">GUNNAR</a></strong>产品，售价$34.99，也是很好的价格。</p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/klipsch-image-one-bluetooth-on-ear-headphones-and-more/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww1.sinaimg.cn/bmiddle/745a8c23gw1ecazv2rcirj20bc0bg3z0.jpg" alt="Klipsch Image ONE无线版耳机$99.99">
                            <a class="btn btn-danger" target="_blank" href="/goods/cuu3e">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r even">
                        <div class="time yui3-u-1-12">
                            <span>15小时前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/beats-urbeats-in-ear-headphones-with-in-line-mic/">Beats urBeats耳塞$39.99</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>Beats不用多说了 著名的录音师还有面条都是其经典，之前由Beats Electronics设计魔声生产耳机、线材等产品。Beats Electronics给魔声Monster提供创意及授权，所以耳机上有两家公司的LOGO，目前两公司合约已经到期，合作已经终止。 <br></p><p>BEATS &nbsp;urBeats 入耳式耳机 粉色 妮琪·米娜版采用一体成型金属外壳可以防止意外震动和恼人噪音，内置麦克风，方便接听或拨打电话，采用防缠结耳机线，不得不说有几分二代面条的意味。 <br></p><p>Woot今日售价$39.99，<a target="_blank" href="/goods/28whb"><strong>链接在此</strong></a>，样子货需要就入了吧。感谢Nicolaswoo童鞋爆料。</p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/beats-urbeats-in-ear-headphones-with-in-line-mic/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww4.sinaimg.cn/bmiddle/745a8c23gw1ee03y5ti1qj20lg0lkjsh.jpg" alt="Beats urBeats耳塞$39.99">
                            <a class="btn btn-danger" target="_blank" href="/goods/gyns7">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r odd">
                        <div class="time yui3-u-1-12">
                            <span>16小时前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/pentax-pentax-k01-dal18-rmb-2299-55-single-camera-set-/">Pentax 宾得 K-01/ DAL18-55 单电相机套装￥2299 </a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>宾得K-01是发布于2012年的无反或者说微单相机，配备了约为1628万有效像素的CMOS图像传感器，集合新型”PRIME M”成像引擎。</p><p>镜头方面，由于使用KAF2卡口，广大PK卡口的老镜头都可以使用，实属良心，不像某EOS-M机器坑爹转接环卖大价钱，缺点则是，机身厚度达到了59mm，反正已经这么厚了，宾得就把3寸屏幕，内置闪光灯都加上了。</p><p>易迅网<a target="_blank" href="http://c.duomai.com/track.php?site_id=55790&amp;aid=337&amp;euid=1&amp;t=http://item.yixun.com/item-297352.html?YTAG=0.1780100001300000"><strong>西安西北仓</strong></a>库今日售价￥2299元，主流B2C最低售价，其他渠道一般售价可以做到￥2600元附近，易迅本次还赠送读卡器+8G存储卡。<br></p><p><br></p><p><img src="http://ww4.sinaimg.cn/bmiddle/745a8c23gw1ee02yn2u60j20yw0o6dib.jpg" _src="http://ww4.sinaimg.cn/bmiddle/745a8c23gw1ee02yn2u60j20yw0o6dib.jpg"></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/6?is_subcate=True">相机、数码配件</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/pentax-pentax-k01-dal18-rmb-2299-55-single-camera-set-/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww1.sinaimg.cn/bmiddle/745a8c23gw1ee02yv1v76j20d00d0q3y.jpg" alt="Pentax 宾得 K-01/ DAL18-55 单电相机套装￥2299 ">
                            <a class="btn btn-danger" target="_blank" href="/goods/6n6pv">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r even">
                        <div class="time yui3-u-1-12">
                            <span>17小时前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/sigma-optimum-horse-dp123-merrill-rmb-3299-package-/">跳水冠军，SIGMA 适马 DP1/2/3 Merrill ￥3299送包</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>这两年来，以索尼nex系列以及松下奥巴的m4/3阵营的微电/单电相机为代表的这些大感光元件配合便携机身的数码相机产品已经逐步成为了影像器材市场中的中坚力量，备受关注。</p><p>而Sigma适马DP系列，其主要采用X3技术的感光器，在市场中有一席之地。与银盐彩色胶片相似，由三层感光元素垂直叠在一起，Foveon声称同等像素的X3图像感光器比传统CCD锐利两倍，这也是<a target="_blank" href="http://www.mgpyh.com/goods/jr5bq"><strong>DP1X</strong></a>发型多年仍然畅销的原因。</p><p>今天DP Merrill家族的三兄弟到齐了，从适马DP1 Merrill到DP2 Merrill再到DP3 Merrill，分别对应等效28mm/45mm/75mm焦距，三款相机在焦段上以广角拍摄、标准拍摄、中长焦拍摄。</p><p>配合高达4600W像素的产品，三层独立的分色滤镜，红绿蓝每一种原色都能够达到实实在在的1600万像素的水平（总像素4800W，有效4600W），虽然有着直出不佳的多种问题，但是仍然可堪一用。</p><p><a target="_blank" href="http://www.rayi.cn/?gallery--n,dp-grid.html"><strong>锐意网</strong></a>今日售价￥3299元，送包，一般来说，买这个的，至少是第二台机器了。</p><p><br></p><p><img src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1ec8ipqpclij20dm0lxabq.jpg" _src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1ec8ipqpclij20dm0lxabq.jpg"></p><p><br></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/6?is_subcate=True">相机、数码配件</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/sigma-optimum-horse-dp123-merrill-rmb-3299-package-/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://img.rayi.cn/goods_pic/300x300/300_222211708_1_l.jpg" alt="跳水冠军，SIGMA 适马 DP1/2/3 Merrill ￥3299送包">
                            <a class="btn btn-danger" target="_blank" href="/goods/5rn9c">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r odd">
                        <div class="time yui3-u-1-12">
                            <span>17小时前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/sandisk-sdxc-128gb-class-10/">SanDisk SDXC 至尊高速存储卡 128G-Class10-30MB/s ￥599-100</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>SanDisk同个牌子同容量 有三种型号，分别是Ultra、Extreme、Extreme Pro，价格逐渐升高。</p><p>本次为SDXC级别卡片，容量达到了惊人的128G，购买前请确认自己的机器支持，否则将无法识别。</p><p><a target="_blank" href="/goods/mh6gq"><strong>京东商城</strong></a>今日售价￥599，叠加神券400-100，最终售价￥499元到手。

感谢ESCAPEN童鞋爆料。</p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/6?is_subcate=True">相机、数码配件</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/sandisk-sdxc-128gb-class-10/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://img13.360buyimg.com/n1/g13/M01/08/1F/rBEhUlKb5rYIAAAAAAHIIpafzWgAAGOEAOmagIAAcg6690.jpg" alt="SanDisk SDXC 至尊高速存储卡 128G-Class10-30MB/s ￥599-100">
                            <a class="btn btn-danger" target="_blank" href="/goods/8ds9r">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r even">
                        <div class="time yui3-u-1-12">
                            <span>1天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/viewsonic-pro9000-1-600-ansi-lumens-laser-led-hybrid-light-engine-full-hd-1080p-home-theater-dlp-projector-/">ViewSonic PRO9000 激光 LED混合光源投影机$1754，下单返$200+Roku流媒体播放器，相当于$1554</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>投影仪发展到现在，光源问题已亟待解决，优派的这款全球第一的产品就奔着这个理想去的。</p><p>从型号就可以看到Pro9000是一款<span id="productTitle" class="a-size-large">Hybrid Light Engine混合光源产品，支持</span><span style="color:#ff0000"><strong>85% NTSC的广色域</strong></span>，1600流明、100,000:1对于，借助激光光源特有的波长可选择性和高光谱亮度等特性，相对传统产品优势明显。</p><p>此外，在使用寿命方面，传统设备一般是5000小时，优派宣称使用寿命提高到<span style="color:#FF0000"><strong>20,000小时</strong></span>，当电视用都不亏了。担心的色彩方面，Pixelworks美国顶级图像显示芯片厂商，这样的配置也让人感到稳妥。</p><p>Amazon今日售价$1754，<a target="_blank" href="http://www.amazon.com/dp/B008R91OZ6/?t=hhuwtian-20&amp;tag=hhuwtian-20&amp;m=ATVPDKIKX0DER"><strong>链接在此</strong></a>，银联之类的该用就去用，在今天购买还可以获得get a $200 Amazon.com promotional credit，<span style="color:#505255">返的是账户余额，可以用来购买商品，与Gift Card不同之处在于，账户余额只能购买自营商品。<br></span></p><p>PS：1、运费￥500元左右，关税固定￥500元 2、赠品还包括Roku 3 streaming media player，从文字描述来看，应该是个在线视频播放器的玩意。</p><p><br></p><p><img src="http://ww2.sinaimg.cn/bmiddle/745a8c23gw1edzknn1b7bj21kw0j412q.jpg" _src="http://ww2.sinaimg.cn/bmiddle/745a8c23gw1edzknn1b7bj21kw0j412q.jpg"><span style="color:#505255"></span></p><p><br></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/viewsonic-pro9000-1-600-ansi-lumens-laser-led-hybrid-light-engine-full-hd-1080p-home-theater-dlp-projector-/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1edzko42tedj20kw0m075h.jpg" alt="ViewSonic PRO9000 激光 LED混合光源投影机$1754，下单返$200+Roku流媒体播放器，相当于$1554">
                            <a class="btn btn-danger" target="_blank" href="/goods/wxnzk">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r odd">
                        <div class="time yui3-u-1-12">
                            <span>1天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/pentax-ricoh-gr-compact-camera/">理光 GR 便携数码相机 ￥4459</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>胶片时代GR1名震天下，但是直到第五代GRD系列机型，才开始真正对得起这块牌子。</p><p>前四代的理光GRD采用的都是小底CCD，卖点就是与GR1一脉相承的专业操控、一成不变的经典口袋机外观设计，这一次，终于换上了APS-C的大底。其他方面，最大f/2.8光圈镜头，28mm等效焦距，也使得这货可以称得上是扫街利器。</p><p><a target="_blank" href="http://www.mgpyh.com/goods/jbeqw"><strong>锐意网</strong></a>今日售价￥4459元，主流B2C最低售价，理光就顾着自己了，Pentax的全副肿么办呢？<strong>另外，<a target="_blank" href="http://www.rayi.cn/?product-222217792.html">RX-100二代</a>的价格还是很好的。</strong></p><p><br></p><p><img src="http://ww2.sinaimg.cn/bmiddle/745a8c23gw1edzhppqgvkj20zi1bon6s.jpg" _src="http://ww2.sinaimg.cn/bmiddle/745a8c23gw1edzhppqgvkj20zi1bon6s.jpg"></p><p><img src="http://ww4.sinaimg.cn/bmiddle/745a8c23gw1edzhrytol9j21120o00xl.jpg" _src="http://ww4.sinaimg.cn/bmiddle/745a8c23gw1edzhrytol9j21120o00xl.jpg"><span style="color: #BC0202;"></span></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/6?is_subcate=True">相机、数码配件</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/pentax-ricoh-gr-compact-camera/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww1.sinaimg.cn/bmiddle/745a8c23gw1edzhp94i96j20po0o2wg1.jpg" alt="理光 GR 便携数码相机 ￥4459">
                            <a class="btn btn-danger" target="_blank" href="/goods/64zug">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r even">
                        <div class="time yui3-u-1-12">
                            <span>1天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/belkin-thunderbolt-express-dock_1_1/">无雷电线便宜$86，贝尔金苹果Mac Book扩展基座 一转八 $164.38</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 14px; line-height: 21px; white-space: normal;"></span></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;"><span style="font-weight: 700; font-size: 15px; line-height: 27.143999099731445px;"><span style="color: rgb(255, 0, 0);"></span></span><span style="color: rgb(80, 82, 85); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 27px; white-space: normal;"></span></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;">英特尔与2011年发布了雷电接口标准，随后苹果开始在其电脑上广泛布置。由于Thunderbolt接口有两个双向10Gbps 通道，因此数据传输速度超快，又因为该接口的物理外观和原有Mini DsiplayPort接口相同，所以Apple用户使用很广发。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;">有了BELKIN F4U055zhAPL后，像MD101这样的设备也可以连接2台显示器了，设备采用铝合金外壳，符合苹果风格，提供多大8个扩展接口，包括FireWire、以太网及USB， 且具有<span style="color: rgb(255, 0, 0);"><span style="font-weight: 700;">链式连接</span></span>功能，可连接多个Thunderbolt设备，比如雷电硬盘，或者多个显示器等。&nbsp;</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;">之前推荐过$249赠送雷电线的产品，<strong><a href="http://www.amazon.com/Belkin-Thunderbolt-Compatible-Technology-Separately/dp/B00BQHD4B8?t=mgpyhxigua-20&amp;tag=mgpyhxigua-20" target="_blank">Amazon</a></strong>今日售价$164.38，无雷电线便宜$86，注意不要定位到中文官网，发货重量4lb</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;"><br></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;"><img src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1ecj53u7qcwj20n60fltaf.jpg" _src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1ecj53u7qcwj20n60fltaf.jpg" style="max-width: 100%;"></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/belkin-thunderbolt-express-dock_1_1/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://img10.360buyimg.com/n1/g13/M04/03/0E/rBEhVFH4ZVgIAAAAAAF9OPdtTmAAABkWgP-SqkAAX1Q390.jpg" alt="无雷电线便宜$86，贝尔金苹果Mac Book扩展基座 一转八 $164.38">
                            <a class="btn btn-danger" target="_blank" href="/goods/vkpr9">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r odd">
                        <div class="time yui3-u-1-12">
                            <span>1天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/sony-mdr-10r-stereo-headphones/">索尼  MDR-10R 头戴式立体声耳机  ￥999（1099-100）</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>MDR-10R就是款全新的产品了，不过虽说数字比1大了那么一点点，但从定位上讲却是MDR-1RMK2（MDR-1R的进化版）的低价版。采用专业设计的直径40mm的HD驱动单元。</p><p>通过耳机外壳上的通气孔，可控制播放低音时的气流阻力。专为耳型设计的释压垫，由<strong><span style="color:#ff0000">低反弹聚氨酯材料</span></strong>立体缝制而成，采用声学密封结构，使佩戴时耳朵像被包覆起来一样舒适。</p><p>采用特别的<strong><span style="color:#ff0000">内倾斜轴结构</span></strong>设计，使耳机外罩的旋转轴面向内侧，以贴合耳朵，提高佩戴稳定性。 采用特别的内倾斜轴结构设计，使耳机外罩的旋转轴面向内侧，以贴合耳朵，提高佩戴稳定性。&nbsp;</p><p>附赠<strong><span style="color:#ff0000">可拆式普通连接线</span></strong>和线控导线同时支持了IOS和安卓的设备。<strong><a href="http://c.duomai.com/track.php?site_id=55790&amp;aid=61&amp;euid=xigua&amp;t=http%3A%2F%2Fitem.jd.com/999674.html" target="_blank">京东商城</a></strong>今日售价1099元，降价的原因是因为官网也降价了，当然可以叠加400-100的券最终999元，也是新低了。</p><p>另外还有铁三角 &nbsp;<strong><a href="http://c.duomai.com/track.php?site_id=55790&amp;aid=61&amp;euid=xigua&amp;t=http%3A%2F%2Fitem.jd.com/784058.html" target="_blank">ATH-PRO5MK2 </a></strong>专业DJ头戴式耳机售价499元，用券后也是新低了，特点是快狠准。</p><p><img src="http://img20.360buyimg.com/vc/g13/M08/16/03/rBEhUlJ9h_MIAAAAAASLnGR8wgcAAFNWwGDLxgABIu0697.jpg" _src="http://img20.360buyimg.com/vc/g13/M08/16/03/rBEhUlJ9h_MIAAAAAASLnGR8wgcAAFNWwGDLxgABIu0697.jpg"></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/sony-mdr-10r-stereo-headphones/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://img14.360buyimg.com/n1/g15/M00/12/10/rBEhWVJwZsoIAAAAAAEaDLttBIIAAEv_wJzBJgAARok776.jpg" alt="索尼  MDR-10R 头戴式立体声耳机  ￥999（1099-100）">
                            <a class="btn btn-danger" target="_blank" href="/goods/47fqg">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r even">
                        <div class="time yui3-u-1-12">
                            <span>1天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/denon-ah-d600-music-maniac-over-ear-headphone/">击败美亚，DENON AH-D600 MUSIC MANIAC 天龙 “音乐达人”系列次旗舰耳机  用码$199.99</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 14px; line-height: 21px; white-space: normal;"></span></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;"><span style="font-weight: 700; font-size: 15px; line-height: 27.143999099731445px;"><span style="color: rgb(255, 0, 0);"></span></span><span style="color: rgb(80, 82, 85); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 27px; white-space: normal;"></span></p><p style="margin-top: 1em; margin-bottom: 1em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 1.8em; white-space: normal; padding: 0px; color: rgb(80, 82, 85);">天龙公司成立于1910年的日本，起初是一个美国人和它的日本朋友一起创立贩卖录音器材，起初是专业录音室和广播设备的供应商，如今已经成为拥有100多年的经验生产专业的HIFI音频视频设备的厂商。</p><p style="margin-top: 1em; margin-bottom: 1em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 1.8em; white-space: normal; padding: 0px; color: rgb(80, 82, 85);">这一款D600属于Music Maniac“音乐达人”系列，是专为音乐爱好者们打造的一系列产品，重量为365g，戴在头上分量感十足，阻抗为25Ω，灵敏度为108db，响应频率为5-45000HZ。&nbsp;</p><p style="margin-top: 1em; margin-bottom: 1em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 1.8em; white-space: normal; padding: 0px; color: rgb(80, 82, 85);">配备了50mm高性能的驱动器和<span style="color: rgb(255, 0, 0);"><span style="font-weight: 700;">纳米纤维的振动膜</span></span>。1/4"镀金转换头，耳机罩左右两侧的可拆卸电缆连接，配备的<span style="color: rgb(255, 0, 0);"><span style="font-weight: 700;">五边形记忆泡沫耳垫</span></span>和可调节头带提供了良好的佩戴舒适性。&nbsp;</p><p style="margin-top: 1em; margin-bottom: 1em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 1.8em; white-space: normal; padding: 0px; color: rgb(80, 82, 85);">在苹果的APPSTORE以及GOOGLE PLAY里有一个DENON Club官方免费软件，是天龙公司专门为天龙的产品开发的播放器，有预设的EQ，还可以手动设置EQ，使得合天龙的耳机在苹果、安卓设备播放上变得更加优秀。</p><p style="margin-top: 1em; margin-bottom: 1em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 1.8em; white-space: normal; padding: 0px;"><span style="color:#505255"><strong><a href="http://www.wwstereo.com/Denon/AH-D600" target="_blank">wwstereo</a></strong>今日售价241.52美元，用优惠码“</span><strong><span style="color:#ff0000">DEALSEA600D</span></strong><span style="color:#505255">”最终199.99美元，Worldwide stereo是知名的耳机商城，支持小绿人2日配送服务。</span></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;"><img class="alignnone" src="http://ww2.sinaimg.cn/bmiddle/745a8c23gw1e23qnvfu89j.jpg" alt="" width="440" height="586" style="max-width: 100%; color: rgb(80, 82, 85); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 27px; white-space: normal;"></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/denon-ah-d600-music-maniac-over-ear-headphone/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww1.sinaimg.cn/bmiddle/745a8c23gw1e23qnnmhfkj.jpg" alt="击败美亚，DENON AH-D600 MUSIC MANIAC 天龙 “音乐达人”系列次旗舰耳机  用码$199.99">
                            <a class="btn btn-danger" target="_blank" href="/goods/5v274">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r odd">
                        <div class="time yui3-u-1-12">
                            <span>1天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/logitech-ultimate-ears-500vi-noise-isolating-headse/">For 安卓，罗技Ultimate Ears 500vm 线控降噪耳塞$24.59 ，ios线控版 $34.5</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 14px; line-height: 21px; white-space: normal;"></span></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;"><span style="font-weight: 700; font-size: 15px; line-height: 27.143999099731445px;"><span style="color: rgb(255, 0, 0);"></span></span><span style="color: rgb(80, 82, 85); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; font-size: 15px; line-height: 27px; white-space: normal;"></span></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;">罗技Ultimate Ears 500是一款面向中端级用户的动圈入耳降噪式耳塞，耳机为L型的插头，扁线式的设置使耳机更不容易打结，随包配有5对耳塞胶套（大、中、小、特小、极小），可以随自身喜好跟换。耳机抗阻是18欧姆，灵敏度为26dB。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px; color: rgb(80, 82, 85); line-height: 1.8em; font-size: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei'; white-space: normal;">Amazon今日售价$24.59，<span style="color: rgb(51, 138, 207); font-weight: 700;"><a href="http://www.amazon.com/gp/product/B003YKG2XW?t=mgpyhxigua-20&amp;tag=mgpyhxigua-20&amp;m=ATVPDKIKX0DER" target="_blank">链接在此</a></span>，vm就是For 安卓版本，历史新低了，ios线控版 vi还要$34.5也是新低了，作为一款定位中端的降噪塞，这货的价格不算贵了。</p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/logitech-ultimate-ears-500vi-noise-isolating-headse/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1eaaznl6i40j209008x3ym.jpg" alt="For 安卓，罗技Ultimate Ears 500vm 线控降噪耳塞$24.59 ，ios线控版 $34.5">
                            <a class="btn btn-danger" target="_blank" href="/goods/bufa8">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r even">
                        <div class="time yui3-u-1-12">
                            <span>2天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/the-lord-of-the-rings-extended-editions/">《The Lord of the Rings ：Extended Editions》 魔戒三部曲 蓝光加长版（6BD+9DVD)   $44</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>魔幻史诗经典《魔戒》三部曲前传系列之《霍比特人2》最近可是频繁刷新票房，大洋彼岸把魔戒系列也拿出来做特价了，北美的纪念版除了光盘，往往都有地图之类的副产品赠送。<br></p><p>本次典藏版本为三部曲的导演加长版电影（但是从差评中可以看到大量用户表示不是加长版），6张蓝光以及9张DVD的配置，后者向粉丝深度揭秘了电影的着装、设计原型。</p><p>Amazon今日售价$44，<a target="_blank" href="http://www.amazon.com/dp/B007ZQAKHU?tag=hhuwtian-20&amp;m=ATVPDKIKX0DER"><strong>链接在此</strong></a>，可以选择转运回来，如果直接填写中国地址（大城市请翻译地址，小城市可用汉语拼音代替），务必填写正确自己的电话号码，含有运费价格只有$53.94。</p><p><br></p><p><img src="http://ww2.sinaimg.cn/bmiddle/745a8c23gw1edyyyy02dij20wa0le437.jpg" _src="http://ww2.sinaimg.cn/bmiddle/745a8c23gw1edyyyy02dij20wa0le437.jpg"></p><p><br></p><p><br></p><p><img src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1edyyux8e4cj20ek0c6jsb.jpg" _src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1edyyux8e4cj20ek0c6jsb.jpg"></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/the-lord-of-the-rings-extended-editions/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://ww3.sinaimg.cn/bmiddle/745a8c23gw1edyyvtc3cvj20g80h440n.jpg" alt="《The Lord of the Rings ：Extended Editions》 魔戒三部曲 蓝光加长版（6BD+9DVD)   $44">
                            <a class="btn btn-danger" target="_blank" href="/goods/6zzxe">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r odd">
                        <div class="time yui3-u-1-12">
                            <span>2天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/philips-l1-28-fidelio-over-ear-headphones-with-remote-and-mic/">PHILIPS飞利浦 L1/28 Fidelio 头戴式耳机$141.36</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;"><strong><span style="color:#ff0000">Fidelio系列</span></strong>是飞利浦2012年主推的高端影音产品线，以贝多芬唯一一部歌剧作品的名字命名，以同级产品最奢华的材质和做工著称，使用了大量高档合金、舒适的真皮耳罩，无论从佩戴感上，或是聆听效果上都是值得交口称赞的。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;">从外形上看，比以前SHP9000有很大进步，<span style="color:#ff0000"><strong>质感</strong></span>有很大提升，不再有塑料感。黑色耳罩部分采用特选的<span style="color:#ff0000"><strong>铝材制造</strong></span>，强度大，可以降低多余的振动和共振。其头梁的<span style="color:#ff0000"><strong>小羊皮</strong></span>为手工缝制，且每个耳机都有唯一的编号，从实际佩戴上看，也确实做到了佩戴十分舒适。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;">只不过由于是半开放式耳机，佩戴久了仍会感觉有些闷。<span style="color:#ff0000"><strong>同比X1</strong></span>，虽然X1明显偏重，但X1佩戴会更舒服，阻抗26 欧姆，灵敏度105 分贝，扬声器直径为常见的<strong><span style="color:#ff0000">40 毫米</span></strong>，听感方面来看高频有较好的解析力，中频柔和比较饱满，低频在未煲开之前明显浑浊不清，因而比较适合人声、流行。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;">Amazon今日售价$141.36，<a href="http://www.amazon.com/gp/product/B006RUIWC0?t=mgpyhxigua-20&amp;tag=mgpyhxigua-20" target="_blank">链接在此</a>，还可以银联-15美元，前错过的童鞋这次可以考虑，作为做工用料都极为精良的小众精品，至于听感还是仁者见仁智者见智，Fidelio系列的对比评测可以参考<a href="http://bbs.imp3.net/thread-10904460-1-1.html" target="_blank"><strong>这里</strong></a>，要感谢热心网友分享啊。</p><p><img src="http://ww1.sinaimg.cn/mw690/60a05037gw1ecud72ycz9j20990dw0ue.jpg" width="333" _src="http://ww1.sinaimg.cn/mw690/60a05037gw1ecud72ycz9j20990dw0ue.jpg" height="500" style=""><img src="http://ww2.sinaimg.cn/mw690/60a05037gw1ecud71ah8xj20990dwabw.jpg" width="333" _src="http://ww2.sinaimg.cn/mw690/60a05037gw1ecud71ah8xj20990dwabw.jpg" height="500" style="font-family: sans-serif; font-size: 16px;"></p><p><br></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/philips-l1-28-fidelio-over-ear-headphones-with-remote-and-mic/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://img14.360buyimg.com/n1/4423/ba3ee6c8-3d23-4cea-92fd-951d64a3b8d3.jpg" alt="PHILIPS飞利浦 L1/28 Fidelio 头戴式耳机$141.36">
                            <a class="btn btn-danger" target="_blank" href="/goods/bte5r">直达链接</a>
                        </div>
                    </div>        
                
                    <div class="item yui3-g-r even">
                        <div class="time yui3-u-1-12">
                            <span>2天前</span>
                        </div>
                        <div class="content yui3-u-2-3">
                            <h1 class="title"><a href="/recommend/beyerdynamic-t1-tesla-audiophile-stereo-headphone/">耳机到底怎么了！Beyerdynamic T1 Tesla Audiofile 顶级动圈耳机惊爆价 $749，便宜的特斯拉DT1350 $178 银联可-15</a></h1>
                            <div class="post-wrap post-hide">
                                <div class="post">
                                    <p>刚推荐了<strong><a href="http://www.mgpyh.com/recommend/beyer-dynamic-a1-headphone-amplifie/" target="_blank">A1的特价</a></strong>，T1的特价就来了！耳机最近这是怎么了！便宜的特斯拉<strong><a href="http://www.mgpyh.com/recommend/beyerdynamic-dt-1350-80-closed-supraaural-headphone-for-control-and-monitoring-applications_1_1_1/" target="_blank">DT1350 </a></strong>$178 银联可-15，Beyerdynamic <strong><a href="http://www.mgpyh.com/recommend/beyerdynamic-dt-880-pro/" target="_blank">DT-880 Pro </a></strong>250欧 $179，用<strong><a href="http://www.mgpyh.com/recommend/amazon--agoda-website-use-the-unionpay-card-order-discount_1/" target="_blank">银联</a></strong>后也是新低。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;">Beyerdynamic T1 Tesla是一款顶级动圈耳机，外壳依然是和之前的DT880，990类似的结构，具有圆圆的外壳，不过这次绵密的网状结构，使得视觉效果一流。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;">参数方面，采用来自SOMMER CABLE的线材，高純度OFC6N + Hi-OFC，双侧入线的方式，阻抗高至600欧姆，灵敏度为102dB，配合自家的A1耳放等，可以较为容易推动。<strong><span style="color:#ff0000">这货和T5P的区别在于，T5P可以直推，这货只能二房了。</span></strong></p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;">烧耳机到这个级别的，就不需要再去说听感如何了，buying今日售价$749（下单自动此价），<strong><a href="http://www.buydig.com/shop/product.aspx?sku=BEYT1" target="_blank">链接在此</a></strong>，发货重量4lb，这么久以来的历史低价，<strong><span style="color:#ff0000">绝对的惊爆价了</span></strong>！对比国行的6999，还是有一定的差距，<strong><span style="color:#ff0000">buydig支持Amazonpay</span></strong>，建议采用这个付款。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;">另外Beyerdynamic<strong>&nbsp;<a href="http://www.amazon.com/gp/product/B0024NK32Q?t=mgpyhxigua-20&amp;tag=mgpyhxigua-20&amp;m=ATVPDKIKX0DER" target="_blank">A1</a></strong>现在$581.52 银联可以-15刀，依然可以下单，绝世好价，感谢Wars哲童鞋爆料。</p><p style="margin-top: 1em; margin-bottom: 1em; padding: 0px;"><img src="http://ww4.sinaimg.cn/mw690/60a05037gw1edywhgg6uwj20qe0eg40d.jpg" _src="http://ww4.sinaimg.cn/mw690/60a05037gw1edywhgg6uwj20qe0eg40d.jpg"></p>

                                </div>
                            </div>
                            
                            <div class="entry-share margin20">
                                <div class="share-content clearfix">
                                    <div class="pull-left">
                                        <span>分类：</span><a href="/category/7?is_subcate=True">数码影音</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/recommend/beyerdynamic-t1-tesla-audiophile-stereo-headphone/#commentWrap">评论()</a>
                                    </div>
                                    <div class="more pull-right"><a href="#">全文 ↓</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="yui3-u-1-4 thumb">
                            <img src="http://img14.360buyimg.com/n1/g5/M01/00/0E/rBEIC0-7ZBwIAAAAAAFo4QqdnswAAAFkAJWJ7UAAWj5652.jpg" alt="耳机到底怎么了！Beyerdynamic T1 Tesla Audiofile 顶级动圈耳机惊爆价 $749，便宜的特斯拉DT1350 $178 银联可-15">
                            <a class="btn btn-danger" target="_blank" href="/goods/rjpbk">直达链接</a>
                        </div>
                    </div>        
                
                
            
    </div>
    
    <div class="text-center margin30">
        <%=paginate @deals, :theme => 'my_theme', :window => 3%>
    </div>
    
</div>

                        <div class="yui3-u sidebar-w pull-left">
                            <div class="yui3-u-1 margin38">
                                
    
<div class="sidebar">
    <a target="_blank" title="#买个便宜货晒ID活动#" href="/show_id"><img src="/static/img/show_your_id.png"></a>
</div>
<div class="sidebar">
    <a target="_blank" title="买个便宜货#双十二#" href="http://www.mgpyh.com/recommend/mgpyh-b2c-registration/"><img src="/static/img/sheep.png"></a>
</div>

<div class="sidebar ">
    <div class="text-center" style="padding-top:10px;">
	    <script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- 20130912 -->
		<ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-0723181817439609" data-ad-slot="5997768122" data-adsbygoogle-status="done"><ins style="display:inline-table;border:none;height:280px;margin:0;padding:0;position:relative;visibility:visible;width:336px;background-color:transparent"><ins id="aswift_0_anchor" style="display:block;border:none;height:280px;margin:0;padding:0;position:relative;visibility:visible;width:336px;background-color:transparent"><iframe width="336" height="280" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;"></iframe></ins></ins></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>	
    </div>
</div>

<div class="sidebar">
    <h1><i class="marketing"></i>集市</h1>
    <ul>
    	
        <li><a target="_blank" href="/recommend/amazon-coupon-bazaar/">Amazon Coupon页面汇总</a></li>
        
        <li><a target="_blank" href="/recommend/ashford-free-shipping-to-china-slider/">Ashford免费直邮中国</a></li>
        
        <li><a target="_blank" href="/recommend/for-the-convenience-of-service--jingdong-drinks-water-single-zone-/">便民服务：京东水饮料凑单专区</a></li>
        
        <li><a target="_blank" href="/recommend/hai-tao-science--personal-express-customs-clearance--kj1--kj2--kj3-clearance-sfbuy/">海淘科普：各种清关方式&amp;顺丰海购丰运</a></li>
        
        <li><a target="_blank" href="/recommend/buy-cheap-us-stocks-mgpyh-teach-you-how-to-buy/">mgpyh教你如何买美股</a></li>
        
        <li><a target="_blank" href="/recommend/all-new-kindle-paperwhite/">Kindle Paperwhite新版发布</a></li>
        
        <li><a target="_blank" href="/recommend/baby-supplies-revolution-three-u-s-skip-hops-top-baby-supplies-organize-recommend-stickers/">宝宝用品的革命（三），美国Skip Hop 旗下热门宝宝用品整理推荐贴    <span style="color:red">萌系动物主题  可爱绚烂</span></a></li>
        
        <li><a target="_blank" href="/recommend/amazon-shoes-and-clothes-20off/">Amazon服装、鞋8折通用券</a></li>
        
        <li><a target="_blank" href="/recommend/how-to-cancel-amazon-prime-membership-trial/">Amazon Prime 完整试用、取消方法</a></li>
        
    </ul>
</div>
<div class="sidebar">
    <h1><i class="focus"></i>关注我们</h1>
	<div class="yui3-g">
		<div class="yui3-u-1-3">
			<a class="singleLink" href="http://e.weibo.com/mgpyh" target="_blank">
            	<div class="sIcon sSina"></div>
                <div class="shadow"></div>
                <span class="sName">新浪微博</span>
            </a>
		</div>
		<div class="yui3-u-1-3">
			<a class="singleLink" href="http://www.mgpyh.com/recommend/mgpyh-push-robot-address-is-mgpyhrobotappspot-com/" target="_blank">
            	<div class="sIcon sRss"></div>
                <div class="shadow"></div>
                <span class="sName">Gtalk</span>
            </a>
		</div>
		<div class="yui3-u-1-3">
			<a class="singleLink" href="http://www.mgpyh.com/feed/" target="_blank">
            	<div class="sIcon sGtalk"></div>
                <div class="shadow"></div>
                <span class="sName">RSS阅读</span>
            </a>
		</div>
	</div>
</div>
 
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
			<div class="clearfix"></div>
			<div id="push"></div>