<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js site-global"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Envato Account</title>

    <!--[if (gt IE 8) | (IEMobile)]><!-->
    <link href="https://d13rsk0hbia94w.cloudfront.net/assets/application-ed11de99a6c461b7851bdbd3359836e6.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link href="https://d13rsk0hbia94w.cloudfront.net/assets/ie-65a8b04ab90332ba9333b39566c243b2.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
		
	<%= csrf_meta_tags %>
    <meta content="authenticity_token" name="csrf-param" />
	<meta content="QcjNV34iI65hinTnxpk3K+5GmRD9l88fexVh65q2mJg=" name="csrf-token" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<script>
  window.sso = {
  validate: {}
};
  sso.client = "";
</script>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://d13rsk0hbia94w.cloudfront.net/assets/apple-touch-icon-144x144-precomposed-7b8f8f7b8d52fd31528852e77148d798.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://d13rsk0hbia94w.cloudfront.net/assets/apple-touch-icon-120x120-precomposed-d4a5b94d4cca93481e878fff0bd74482.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://d13rsk0hbia94w.cloudfront.net/assets/apple-touch-icon-114x114-precomposed-f08b868f2b7f5176b8f15cb5199ea08d.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://d13rsk0hbia94w.cloudfront.net/assets/apple-touch-icon-72x72-precomposed-e21408ab44d1e5c08c1c58367e74abfb.png">
    <link rel="apple-touch-icon-precomposed" href="https://d13rsk0hbia94w.cloudfront.net/assets/apple-touch-icon-precomposed-05abd92a3b8a06b8e818dfdd374f22f6.png">
  <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script></head>
  <body>
    <div class="topbar">
  <div class="page">
    <div class="topbar-container">
      <a href="/" class="topbar-logo topbar-logo-envato"><img alt="Envato Account" src="https://d13rsk0hbia94w.cloudfront.net/assets/envato-account-logo-e57db527ac4fcd144488c9c012311f47.png" /></a>

      <div class="topbar-content">
		  <%= yield :head_path %>	 
      </div>
    </div>
  </div>
</div>


    <div class="page">
      
      <div role="main" class="main"><script>sso.init = "sessions/new"</script>


		  <%=yield%>

<script type="text/template" id="auth-field-template">
  <div class="input-group auth-field">
    <label for="{{ field_name }}">{{ field_label }}</label>
    <div class="inputs">
      <input type="text" name="{{ field_name }}" id="{{ field_name }}" />
    </div>
  </div>
</script>


<div class="copy-area">
    <h1>Welcome to the Envato Account Center</h1>
    <p>Your Envato Account gives you access to any of the Envato marketplaces, where you can buy or sell digital goods like WordPress themes, background music, After Effects project files, photography and much, much more.</p>

<p>If you already have an account on one of the Marketplaces, sign in with those details.
</p>

  <ul class="brand-box">
  <li>
    <a href="http://activeden.net" class="brand-box-activeden"><img alt="ActiveDen" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/activeden-d00440e2662d56e9183fb2828f4b42f0.png" /></a>
  </li>
  <li>
    <a href="http://audiojungle.net" class="brand-box-audiojungle"><img alt="AudioJungle" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/audiojungle-7cefb82c3195c33a775423098bcbe961.png" /></a>
  </li>
  <li>
    <a href="http://themeforest.net" class="brand-box-themeforest"><img alt="ThemeForest" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/themeforest-359803d1e7844f946d613101ba304327.png" /></a>
  </li>
  <li>
    <a href="http://videohive.net" class="brand-box-videohive"><img alt="VideoHive" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/videohive-1e0b5f197ca1e9ca633d071af9be9426.png" /></a>
  </li>
  <li>
    <a href="http://graphicriver.net" class="brand-box-graphicriver"><img alt="GraphicRiver" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/graphicriver-ffa75f94c9e09419decd3d2e414e73c1.png" /></a>
  </li>
  <li>
    <a href="http://3docean.net" class="brand-box-3docean"><img alt="3DOcean" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/3docean-c510aa1d08fa496a5377bead1f81fee9.png" /></a>
  </li>
  <li>
    <a href="http://codecanyon.net" class="brand-box-codecanyon"><img alt="CodeCanyon" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/codecanyon-e2af318d1e055751a1ced8d191f01b64.png" /></a>
  </li>
  <li>
    <a href="http://photodune.net" class="brand-box-photodune"><img alt="PhotoDune" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/photodune-1fc4fd02bd005e39cf7b3ff747e52e6c.png" /></a>
  </li>
  <li>
    <a href="https://www.microlancer.com" class="brand-box-microlancer"><img alt="Microlancer" src="https://d13rsk0hbia94w.cloudfront.net/assets/brand-box/microlancer-fbbedaf3fd49a447b216f554722aad57.png" /></a>
  </li>
</ul>
</div>


</div>
      <footer>
  <a href="http://support.envato.com">Contact Support</a>
  <a href="http://envato.com">About Envato</a>
</footer>
    </div>

    <script src="https://d13rsk0hbia94w.cloudfront.net/assets/vendor-4278e5c070a30f49e724de133e6e8ee5.js" type="text/javascript"></script>
    <script src="https://d13rsk0hbia94w.cloudfront.net/assets/application-11ffe2afb174307d9147e2a0bf1c928f.js" type="text/javascript"></script>

    <script>
  var _gaq = _gaq || [];

    _gaq.push(['_setAccount', 'UA-11834194-36']);
    _gaq.push(['_setDomainName', 'account.envato.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageLoadTime']);
    _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  window.onerror = function( message, file, line ) { 
    var formattedMessage = '[' + file + ':' + line + '] ' + message; 
    _gaq.push(['_trackEvent', 'Exceptions', 'Application', formattedMessage, null, true]);
  }
</script>

    
  <script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "rpm-images.newrelic.com/42/eum/rum.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","fcf8d519de","1544847","dA4NFkNbVV1URBcWVEQSCg1fRxZfVEE=",7,14,new Date().getTime(),"","","","",""]);</script></body>
</html>

