<p>亲爱的买手 <%= @resource.username %> 你好</p>

<p>请通过点击下列链接以重置密码.</p>

<p><%= link_to '点我重置密码', edit_password_url(@resource, :reset_password_token => @token) %></p>
<p>如果上面链接不能点击，请复制下面链接粘贴到浏览器<p>
<p><%= edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>如果你没有提交修改密码申请，请忽略该邮件</p>
<p>只有您点击了上述链接并且修改了密码之后，密码才会真正改变</p>
<hr>
<p><a href="www.maishoudang.com">买手党</a>, 买手聚集的地方</p>