<p>你好 <%= @resource.email %>!</p>

<p>你好，你的密码输入错误次数太多，已经被锁定</p>

<p>通过点击下列链接以解锁你的账号</p>

<p><%= link_to '点我解锁账号', unlock_url(@resource, :unlock_token => @token) %></p>
<p>如果上面链接不能点击，请复制下面链接粘贴到浏览器<p>
<p><%= unlock_url(@resource, :unlock_token => @token) %></p>
<hr>
<p><a href="www.maishoudang.com">买手党</a>, 买手聚集的地方</p>